
<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">

		   <h1>Get in touch with like-minded people</h1>
		   <h3>Create, study, accomplish goals together</h3>
		   
		   <%= render @posts %>
		   
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->
